/* global styling */

/* Stjärnan precis här nedan används för att styla alla taggar på hela webbsidan - använd med försiktighet (eller inte och se roliga konsekvenser) */
*,
*:before,
*:after {
   box-sizing: border-box;
}


body {
   font-family: 'Roboto Slab', serif;
   background: #f3f2f2;
   margin: 0;
   font-size: 1.125em;
}

header, footer {
  
   background: hotpink;
   padding: .2rem 2rem;
}

nav {
   display: flex;
   gap: 1.5rem;

   justify-content: space-between;
   align-items: center;

}

.flex-layout {
   display: flex;
   gap: 1rem;
   align-items: center;
}

.primary-navigation {
   display: flex;
   gap: 1.5rem;
   list-style: none;             /* ta bort punkter framför varje */
   white-space: nowrap;
}

.footer-navigation {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   gap: 1rem;
   list-style: none;
}

.grid-layout {
   display: grid;
   grid-template-columns: 1fr 1.618fr;
   gap: 1rem;
   margin-top: 2rem;
   width: 60%;
   margin-inline: auto;
} 

.grid-layout > div {
   margin-bottom: 2rem;
}

footer {
   height: 30vh;
}

.footer-layout {
   display: flex;
   
   justify-content: space-between;
   align-items:flex-start;

   margin-top: auto;
}

footer > .flex-layout {
   flex-basis: 33%;
}

footer > div:last-child{
   flex-basis: 33%;
}

footer nav ul {

   padding-left: 0;
}

.grid-col-span-2 {
   grid-column: span 2;
}

/* text styling */

.logo-text, h1, h2, h3, h4, h5, h6 {
   font-family: 'Roboto Condensed', sans-serif;
}

.logo-text {
   color: white;
   font-size: 1.5rem;
   font-weight: bold;
}

p {
   line-height: 1.618;
}

li {
   line-height: 1.618;
   margin-bottom: 0.5rem;
}

section {
   margin-bottom: 6rem;
}

/* image styling */

img {
   display: block;
   max-width: 100%;
   object-fit: cover;
   border-radius: 1rem;
}

.logo {
   width: 32px;
   height: 32px;
   
}

/* link styling */

a:link, a:visited {
   color: white;
   font-weight: 500;
   text-decoration: none;
   font-size: 1.125rem;
   
}

a:hover {
   color: rgb(45, 25, 226);
   text-decoration: underline;
   
}

a:active {
   color: rgb(59, 9, 105);

}

.inline-link, .inline-link:visited{
   color:darksalmon;
}